@import "./base.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,800;1,500;1,800&display=swap');

/* colours */
/* https://coolors.co/f6ae2d-f26419-4056f4-36827f-5c2296 */

:root {
/* purple */
--color-acting: hsla(270, 63%, 36%, 1);
--color-acting--fade: hsla(270, 63%, 36%, 0.2);
/* green */
--color-dev: hsla(178, 41%, 36%, 1);
--color-dev--fade: hsla(178, 41%, 36%, 0.2);
/* blue */
--color-home: hsla(233, 89%, 60%, 1);
--color-home--fade: hsla(233, 89%, 60%, 0.2);
/* orange */
--color-ux: hsla(21, 89%, 52%, 1);
--color-ux--fade: hsla(21, 89%, 52%, 0.2);
/* yellow */
--color-yellow: hsla(39, 92%, 57%, 1);
--color-yellow--fade: hsla(39, 92%, 57%, 0.2);
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  font-size: 1.8rem;
  padding: 0.65rem;
}

#app {
  align-items: center;
  background: white;
  border-radius: 12px;
  font-weight: normal;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  padding: 2rem;
}

a {
  text-decoration: none;
  transition: 0.25s;
}

a, h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", "Segoe UI", Roboto, Oxygen, "Helvetica Neue",
    sans-serif;
  font-weight: 800;
}

/* header */

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-bottom: 1.5rem;
}

header a {
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  font-size: 2.5rem;
}

#main-logo {
  cursor: pointer;
  height: 65px;
  margin: 0 0 2.5rem 0;
  width: 65px;
}

footer {
  bottom: 2rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

/* themes */

body.acting #main-logo .back,
body.acting #main-logo .fore {
  stroke: var(--color-acting);
}
body.acting { background-color: var(--color-acting); }
body.acting a { color: var(--color-acting); }
body.acting #available { color: var(--color-acting); }
body.acting #available svg { fill: var(--color-acting); }

body.dev #main-logo .back,
body.dev #main-logo .fore {
  stroke: var(--color-dev);
}
body.dev { background-color: var(--color-dev); }
body.dev a { color: var(--color-dev); }
body.dev #available { color: var(--color-dev); }
body.dev #available svg { fill: var(--color-dev); }

body.home #main-logo .back,
body.home #main-logo .fore {
  stroke: var(--color-home);
}
body.home { background-color: var(--color-home); }
body.home a { color: var(--color-home); }
body.home #available { color: var(--color-home); }
body.home #available svg { fill: var(--color-home); }

body.ux #main-logo .back,
body.ux #main-logo .fore {
  stroke: var(--color-ux);
}
body.ux { background-color: var(--color-ux); }
body.ux a { color: var(--color-ux); }
body.ux #available { color: var(--color-ux); }
body.ux #available svg { fill: var(--color-ux); }

@media (hover: hover) {
  a:hover {
    background-color: var(--color-home--fade);
  }
  body.acting a:hover { background-color: var(--color-acting--fade); }
  body.dev a:hover { background-color: var(--color-dev--fade); }
  body.ux a:hover { background-color: var(--color-ux--fade); }

  body.acting header a:not(.router-link-active):hover {
    background-color: transparent;
    border-bottom: 3px solid var(--color-acting);
  }
  body.dev header a:not(.router-link-active):hover {
    background-color: transparent;
    border-bottom: 3px solid var(--color-dev);
  }
  body.ux header a:not(.router-link-active):hover {
    background-color: transparent;
    border-bottom: 3px solid var(--color-ux);
  }
}

/* brain */

#noodle p.brainInfo { color: var(--color-home); }
#noodle p.brainInfo.status { border-right: 1px solid var(--color-home); }
#footer-brain { fill: var(--color-home); }

body.acting #noodle p.brainInfo { color: var(--color-acting); }
body.acting #noodle p.brainInfo.status { border-right: 1px solid var(--color-acting); }
body.acting #footer-brain { fill: var(--color-acting); }

body.dev #noodle p.brainInfo { color: var(--color-dev); }
body.dev #noodle p.brainInfo.status { border-right: 1px solid var(--color-dev); }
body.dev #footer-brain { fill: var(--color-dev); }

body.ux #noodle p.brainInfo { color: var(--color-ux); }
body.ux #noodle p.brainInfo.status { border-right: 1px solid var(--color-ux); }
body.ux #footer-brain { fill: var(--color-ux); }

/* breakpoints */

@media (min-width: 1024px) {
  #app {
    padding: 4rem;
  }
  header {
    flex-direction: row;
    margin-bottom: 3rem;
  }

  #main-logo {
    margin: 0 2rem 0 0;
  }
}
